server {
    listen       80;
    server_name  localhost;

    client_max_body_size 20M;

    #charset koi8-r;
    access_log  /var/log/nginx/log/host.access.log  main;

    location ~ /{{item.hostname}}/(img|css|js|files)/(.+)$ {
        root /var/nginx/{{item.hostname}}/webroot;
        try_files /$1/$2 =404;
    }

    location ~ /{{item.hostname}}/(.*)$ {
         root /var/nginx;
         index  index.php index.html;
         try_files /{{item.hostname}}/$1 /{{item.hostname}}/$1/ /{{item.hostname}}/index.php?$1&$args;
         fastcgi_pass    unix:/var/run/php-fpm/php-fpm.sock;
         fastcgi_index   index.php;
         fastcgi_param   SCRIPT_FILENAME $document_root$fastcgi_script_name;
         include         fastcgi_params;
         error_log  /var/log/nginx/{{item.hostname}}.error.log;
         access_log  /var/log/nginx/{{item.hostname}}.access.log;
    }

    #error_page  404              /404.html;

    # redirect server error pages to the static page /50x.html
    #
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }

    # proxy the PHP scripts to Apache listening on 127.0.0.1:80
    #
    #location ~ \.php$ {
    #    proxy_pass   http://127.0.0.1;
    #}

    # pass the PHP scripts to FastCGI server listening on 127.0.0.1:9000
    #

    location ~ \.php$ {
        root           /var/nginx;
        fastcgi_pass   127.0.0.1:9000;
        fastcgi_index  index.php;
        fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
        include        fastcgi_params;
    }

    # deny access to .htaccess files, if Apache's document root
    # concurs with nginx's one
    #
    #location ~ /\.ht {
    #    deny  all;
    #}
}
